@font-face {
    font-family: 'NanumSquareNeo Light';
    font-weight: 300;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo Regular';
    font-weight: 400;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo Bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo ExtraBold';
    font-weight: 800;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo Heavy';
    font-weight: 900;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.ttf') format("truetype");
    font-display: swap;
} 

body{
    background-color: rgba(85, 85, 85, 0.7);
    padding: 10px;
}
.container{
    display: flex;
    flex-flow: column wrap;
    background-color: #ffffff;
    width: 550px;
    height: 400px;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    line-height: 100%;
}
h1{
    font-family: "NanumsquareNeo Heavy";
    font-size: 40px;
    width: 100%;
    margin-top: 80px;
}
.color{
    border: 6px solid #000000;
    width: 456px;
    height: 156px;
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: baseline;
}
.colors{
    display: inline-block;
    border: 2px solid #000000;
    width: 100px;
    height: 65px;
    font-family: "NanumSquareNeo Heavy";
    color: #ffffff;
    text-align: center;
    line-height: 100%;
    padding: 5px;
}
#red{
    background-color: rgb(255, 0, 0);
}
#orange{
    background-color: rgb(255, 166, 0);
    color:#000000;
}
#yellow{
    background-color: rgb(255, 255, 0);
}
#green{
    background-color: rgb(29, 152, 0)
}
#blue{
    background-color: rgb(0, 0, 255);
}
#navy{
    background-color: rgb(0, 0, 109);
}
#purple{
    background-color: rgb(107, 0, 128);
}
#pink{
    background-color: rgb(255, 110, 187);
}
.button{
    display: inline-block;
    width: 70px;
    height: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 10px 8px;
    border: 3px solid #000000;
    font-family: "NanumsquareNeo Heavy";
    font-size: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.c2{
    display: none;
}
.plus{
    width: auto;
    height: auto;
}
.split{
    display: inline-block;
}
