@font-face {
    font-family: 'NanumSquareNeo Light';
    font-weight: 300;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo Regular';
    font-weight: 400;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo Bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo ExtraBold';
    font-weight: 800;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo Heavy';
    font-weight: 900;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.ttf') format("truetype");
    font-display: swap;
} 

body{
    background-color: rgba(85, 85, 85, 0.7);
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
}
.container{
    display: flex;
    flex-flow: column nowrap;
    background-color: #ffffff;
    width: 850px;
    height: 640px;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    line-height: 100%;
}
h1{
    font-family: "NanumsquareNeo Heavy";
    font-size: 70px;
    width: 100%;
    margin-top: 120px;
}
.color{
    border: 10px solid #000000;
    background-color: #000000;
    width: 720px;
    height: 260px;
    margin-top: 70px;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
    align-content: space-around;
}
.colors{
    display: inline-block;
    width: 160px;
    height: 110px;
    font-family: "NanumSquareNeo Heavy";
    color: #ffffff;
    text-align: center;
    line-height: 100%;
    padding: 5px;
    margin: 1px;
}
#red{
    background-color: rgb(255, 0, 0);
}
#orange{
    background-color: rgb(255, 166, 0);
    color: #000000;
}
#yellow{
    background-color: rgb(255, 255, 0);
    color: #000000;
}
#green{
    background-color: rgb(29, 152, 0)
}
#blue{
    background-color: rgb(0, 0, 255);
}
#navy{
    background-color: rgb(0, 0, 109);
}
#purple{
    background-color: rgb(107, 0, 128);
}
#pink{
    background-color: rgb(255, 110, 187);
    color: #000000;
}
.c2{
    display: none;
    margin-top: 100px;
    height: 850px;
}
.plus{
    width: auto;
    height: auto;
    margin-top: 80px;
    border: 3px solid #000000;
}
.split{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: rgb(250,250,250);
}
.area{
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(255, 255, 255);
    width: 80px;
    height: 300px;
    align-content: baseline;
    justify-content: baseline;
}
.back{
    display: inline-block;
    width: 80px;
    height: 110px;
    background: repeating-linear-gradient(48deg, #444, #444 8px, #eee 0, #eee 15px);
}
.question{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    color: #000000;
    font-family: "nanumsquareNeo Heavy";
    font-size: 50px;
    line-height: 160%;
    align-items: center;
    justify-content: center;
}
#mergecolor1{
    background-color: rgb(255, 0, 0);
}
#mergecolor2{
    background-color: rgb(0, 166, 0);
}
.choicearea{
    display: flex;
    width: 700px;
    margin-top: 100px;
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
}
.choice{
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0px 10px;
}
#aisle{
    background-image: url(https://imgur.com/TpLe95y.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#wall{
    background-image: url(https://imgur.com/KLRhMxm.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #bdbdbd;
}
h2{
    font-family: "NanumsquareNeo ExtraBold";
    font-size: 38px;
    margin-top: 85px;
    letter-spacing: -1px;
}
h2 > span{
    font-family: "NanumsquareNeo Heavy";
    font-size: 38px;
}
.res_wall{
    display: none;
    height: 640px;
    justify-content: flex-start;
}
.result{
    width: auto;
    height: auto;
    margin-top: 110px;
    border: 3px solid #000000;
}
.area_wall{
    display: inline-block;
    width: 80px;
    height: 300px;
    background-image: url(https://imgur.com/fpexm6l.png);
    background-size: contain;
    background-repeat: repeat-y;
    background-position: top;
    background-color: #d3d3d3;
}
.res_text{
    font-family: "NanumsquareNeo ExtraBold";
    font-size: 45px;
    letter-spacing: 0px;
    margin-top: 90px;
}
div > span{
    font-family: "NanumsquareNeo Heavy";
    font-size: 45px;
}
.res_merge{
    display: none;
    height: 640px;
    justify-content: flex-start;
}
.res_color{
    background-color: rgb(255, 166, 0);
    width: 680px;
    height: 300px;
    align-items: center;
    justify-content: center;
}
img{
    width: 100px;
    height: 100px;
    margin-top: 95px;
}
.c3{
    display: none;
    flex-flow: column nowrap;
    margin-top: 100px;
    align-items: center;
    justify-content: flex-start;
}
p{
    font-family: "NanumsquareNeo ExtraBold";
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -1px;
    margin: 10px;
}
#UN{
    font-family: "NanumsquareNeo Heavy";
    font-size: 70px;
    letter-spacing: 0px;
    color: #1A467D;
    margin: 13px;
}
h6{
    font-family: "NanumsquareNeo Bold";
    font-size: 24px;
    letter-spacing: -1px;
    margin: 80px 10px 25px;
    padding: 10px;
}
.button{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 12px 30px;
    border: 4px solid #000000;
    font-family: "NanumsquareNeo Heavy";
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.button:active{
    background-color: #1A467D;
}